@font-face {
  font-family: "myFontRegular";
  src:
    url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("./fonts/roboto-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "myFontTitle";
  src:
    url("./fonts/playfairdisplay-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./fonts/playfairdisplay-variablefont_wght-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* body::-webkit-scrollbar {
  display: none;
} */

header {
  height: min-content;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.skewed {
  z-index: 1;
  height: 750px;
  width: 100%;
  position: absolute;
  background-color: rgb(0, 155, 179);
}

.skewed::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -240px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  transform: skewY(-32.5deg);
  box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.5);
}

.person-image {
  background-image: url("./images/man-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 80%;
  height: 650px;
  font-family: myFontTitle;
  color: white;
  display: flex;
  align-items: end;
  font-size: min(17.5vw, 4.5rem);
  line-height: 1.2;
  z-index: 2;
  margin-top: 2rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

#name {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: -10px;
  padding-left: 0.5rem;
}

.about-me {
  width: 90%;
  min-height: 600px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  z-index: 2;
}

h1 {
  font-family: myFontTitle;
  font-weight: 500;
  font-size: min(17.5vw, 3.5rem);
}

.about-me > p {
  font-family: myFontRegular;
  font-size: min(10vw, 1.8rem);
  font-weight: 100;
  color: #555555;
  padding: 0 2rem;
}

.nav-icons {
  display: flex;
  gap: 2rem;
}

.svg-icon {
  width: 37.5px;
  height: 37.5px;
}

main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

main > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 500px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.project-image {
  height: 300px;
}

.project:first-child > .project-image {
  background-color: blueviolet;
}

.project:nth-child(2) > .project-image {
  background-color: rgb(255, 166, 0);
}

.project:nth-child(3) > .project-image {
  background-color: rgb(0, 180, 18);
}

.project:nth-child(4) > .project-image {
  background-color: rgb(255, 83, 218);
}

.project:nth-child(5) > .project-image {
  background-color: rgb(31, 103, 248);
}

.project:last-child > .project-image {
  background-color: rgb(0, 180, 18);
}

.project-details {
  display: flex;
  flex-direction: column;
}

.project-details > p {
  font-family: myFontRegular;
  color: #555555;
  font-size: min(7.5vw, 1.25rem);
  padding: 0 3.25rem 0.5rem 1.5rem;
}

.project-name-links {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.project-name-links > p {
  font-family: myFontTitle;
  font-size: min(12.5vw, 1.6rem);
  padding-left: 1rem;
}

.project-name-links > div > img:first-of-type {
  margin-right: 0.5rem;
}

#github,
#demo {
  width: 30px;
  height: 30px;
}

footer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  background-color: rgb(0, 155, 179);
  font-family: myFontRegular;
}

.contact-details > h1 {
  padding-top: 2rem;
  text-align: center;
  font-family: myFontTitle;
}

.contact-details > p {
  font-size: min(7.5vw, 1.25rem);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.contact-details > div > p {
  font-size: min(7.5vw, 1.25rem);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.contact-details > p:first-of-type {
  font-size: min(12.5vw, 1.6rem);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.email {
  padding-top: 0.5rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

.nav-links > img {
  width: 50px;
  height: 50px;
}

.person-image-one {
  background-image: url("./images/man-mobile-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 650px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 920px;
  }

  .skewed {
    z-index: 1;
    height: 800px;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 155, 179);
    place-self: start;
  }

  .skewed::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -135px;
    height: 435px;
    background-color: rgb(255, 255, 255);
    transform: skewY(-15deg);
    box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.5);
  }

  .person-image {
    z-index: 3;
    width: 43.3vw;
    max-height: 500px;
    position: relative;
    right: -40px;
    place-self: start;
    margin-top: 3rem;
    align-items: start;
  }

  #name {
    position: relative;
    left: 30vw;
    white-space: nowrap;
    padding-top: 2rem;
    font-size: min(7.5vw, 4.5rem);
  }

  .about-me {
    margin-top: 1.75rem;
    place-self: center;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    width: 77vw;
    min-height: 550px;
    position: relative;
    left: -35vw;
    align-items: start;
  }

  .about-me > h1 {
    font-size: min(7vw, 3rem);
    padding-right: 4vw;
    padding-top: 4rem;
  }

  .about-me > h1::before {
    content: '';
    float: left;
    height: 1em;
    width: 42.5vw;
  }

  .about-me > p {
    font-size: 1.6rem;
    padding-right: 2.15rem;
    padding-bottom: 3rem;
    line-height: 1.5;
  }

  .about-me > p::before {
    content: '';
    float: left;
    height: 8em;
    width: 32.5vw;
  }

  .nav-icons {
    display: none;
  }

  main {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    /* padding: 0 10vw; */
    align-items: center;
  }

  main > h1 {
    align-self: flex-start;
    padding-left: 9vw;
  }

  .my-work {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 100%;
    row-gap: 3rem;
    column-gap: 3rem;
    place-items: start center;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  }

  .project:nth-child(odd){
    place-self: end;
  }

  .project:nth-child(even) {
    place-self: start;
  }
}
